#start-btn,
#restart-btn {
  background-color: #ed1667;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  position: absolute;
  left: 46%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-canvas {
  display: none;
  margin: auto;
  width: auto;
  border: 1px solid #ed1667;
}

#gameover-screen {
  display: none;
}

#final-score {
  position: absolute;
  left: 12%;
  padding-top: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  color: #ed1667;
  text-shadow: 2px 2px 5px black;
}
